<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Book list</title>
</head>
<body>
     <h2>จัดการหนังสือ</h2>
     <a href="/books/add">เพิ่มหนังสือ</a>
     <table border="1">
          <tr>
               <th>รหัสหนังสือ</th>
               <th>ชื่อหนังสือ</th>
               <th>ปกหนังสือ</th>
               <th>หมวดหมู่</th>
               <th>จำนวนเล่ม</th>
               <th>ราคา</th>
               <th colspan="2">จัดการ</th>
          </tr>
          <% if (books.length>0) { %>
               <% books.forEach(bookinfo=> { %>
                    <tr>
                         <td><%= bookinfo.bookid %></td>
                         <td><%= bookinfo.title %></td>
                         <td><img src="/images/<%= bookinfo.image %>" width="200px"></td>
                         <td><%= bookinfo.category %></td>
                         <td><%= bookinfo.amount %></td>
                         <td><%= bookinfo.price %></td>
                         <td><a class="edit" href="/books/editBook/<%= bookinfo._id%>">Edit</a></td>
                         <td><a class="delete" data-id="<%= bookinfo._id%>">Delete</a></td>
                         
                    </tr>
               <% }) %>
          <% } else { %>
               <tr>
                    <td colspan="8" style="text-align: center;">ไม่มีหนังสือในรายการ</td>
               </tr>
          <% } %>
     </table>

     <script>
          var deleteLinks = document.querySelectorAll('a.delete');
      
          deleteLinks.forEach((del) => {
              del.addEventListener('click', (e) => {
                  e.preventDefault();  // Prevent the default link behavior
      
                  var endpoint = `/books/delbook/${del.dataset.id}`;
                  var text = "ลบแน่หรอเตง?";
                  var confirmDelete = confirm(text);
      
                  if (confirmDelete) {
                      fetch(endpoint, {
                          method: 'DELETE'
                      })
                      .then(response => response.json())
                      .then(data => window.location.href = data.redirect)
                      .catch(err => console.log(err));
                  }
              });
          });
      </script>

</body>
</html>