<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> 
    <link rel="stylesheet" href="/stylesheets/style.css">  
    <link rel="stylesheet" href="/stylesheets/datailbook.css"> 
    

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</head>

<body>
  

    <%- include('./partials/nav.ejs') %>

        
<div class="container">

        <div class="detail">
             <!--ภาพ-->
            <img class="img_book_detail" src="/images/<%= result.image %>" alt="" width="200px">

       
            <div class="detail_book">

                 <!--รายละเอียด-->

            <div class="detail_book_p">
                <p id="title_book_datail"><%= result.title %></p>
            </div>

            <div class="detail_book_p">
                <p>ผู้เขียน: </p> 
                <p><%= result.author %></p>
            </div>

            <div class="detail_book_p">
                <p>สำนักพิมพ์: </p> 
                <p><%= result.publisher %></p>
            </div>

            <div class="detail_book_p">
                <p>หมวดหมู่: </p> 
                <p><%= result.category %></p>
            </div>

            

            <div class="synopsis_detail">
                <p id="synopsis">เรื่องย่อ</p> 
            </div>
            <div class="synopsis_detail">
                <p><%= result.synopsis %></p>
            </div>
  
        </div>
       

        <div class="detail_trolley">
            <p id="price_detail_book">ราคา <%= result.price %> บาท</p>
            <button class="bt_book_trolley" type="button">เพิ่มลงรถเข็น <i class="bi bi-cart-plus-fill"></i> </button>
        </div>

    </div>

    </div>

    <%- include('./partials/footer.ejs') %>

</body>

</html>